src/main/mule/munit-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3232a2f8-00e9-4262-b5d6-bf079310d547" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="munit-demoFlow" doc:id="f788373b-21cb-460b-9aac-e2d975619b35" >
		<http:listener doc:name="Listener" doc:id="f224493d-7138-4aeb-be4e-06a36f869f5f" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Welcome to Munit"]' doc:name="Set Payload" doc:id="b7b1447f-2965-45b0-88c3-5c3a5394c798" />
		<logger level="INFO" doc:name="Logger" doc:id="2dfc3dec-9dd5-46c1-9f1d-d7e102f7c609" message="#[payload]"/>
	</flow>
</mule>
